*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
}

/* LOGIN BOX */
.login-box{
    width: 320px;
    background: #1e1e1e;
    padding: 25px;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #00eaff;
}

.login-box h2{
    text-align: center;
    margin-bottom: 20px;
    color: #00eaff;
}

/* INPUT GROUP */
.input-group{
    margin-bottom: 15px;
}

.input-group label{
    font-size: 14px;
    color: #cccccc;
}

.input-group input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #2c2c2c;
    color: white;
}

/* BUTTON */
.btn{
    width: 100%;
    padding: 10px;
    background: #00eaff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: #00bcd4;
}
